In [13]:
import pandas as pd
import numpy as np

In [14]:
df1 = pd.read_csv('combined_data__weather_twitter_flood.csv')

In [15]:
df1.head()

,Unnamed: 0,time,weathercode (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),precipitation_sum (mm),...,longitude,elevation,river_discharge,city,Year,Month,Day,event_type,event_intensity,event_one_hot
0,0,2009-01-01,2.0,33.2,21.9,27.2,34.6,25.7,29.8,0.0,...,1.100006,326.0,0.0,Atakpame,2009,1,1,flood,0,0
1,1,2009-01-02,51.0,32.3,23.3,27.1,33.9,28.2,30.5,0.1,...,1.100006,326.0,0.0,Atakpame,2009,1,2,flood,0,0
2,2,2009-01-03,51.0,32.5,22.7,27.1,35.0,27.1,30.5,0.2,...,1.100006,326.0,0.0,Atakpame,2009,1,3,flood,0,0
3,3,2009-01-04,1.0,33.4,22.2,27.5,35.0,25.9,30.0,0.0,...,1.100006,326.0,0.0,Atakpame,2009,1,4,flood,0,0
4,4,2009-01-05,2.0,34.2,22.2,27.8,36.1,26.0,30.4,0.0,...,1.100006,326.0,0.0,Atakpame,2009,1,5,flood,0,0

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       58707 non-null  int64
 1   time                             58707 non-null  object
 2   weathercode (wmo code)           58685 non-null  float64
 3   temperature_2m_max (°C)          58685 non-null  float64
 4   temperature_2m_min (°C)          58685 non-null  float64
 5   temperature_2m_mean (°C)         58685 non-null  float64
 6   apparent_temperature_max (°C)    58685 non-null  float64
 7   apparent_temperature_min (°C)    58685 non-null  float64
 8   apparent_temperature_mean (°C)   58685 non-null  float64
 9   precipitation_sum (mm)           58685 non-null  float64
 10  rain_sum (mm)                    58685 non-null  float64
 11  precipitation_hours (h)          58707 non-null  float64
 12  windspeed_10m_max (km/h)         58685 non-null  float64
 13  windgusts_10m_max (km/h)         58685 non-null  float64
 14  winddirection_10m_dominant (°)   58685 non-null  float64
 15  et0_fao_evapotranspiration (mm)  58685 non-null  float64
 16  latitude                         58707 non-null  float64
 17  longitude                        58707 non-null  float64
 18  elevation                        58707 non-null  float64
 19  river_discharge                  58707 non-null  float64
 20  city                             58707 non-null  object
 21  Year                             58707 non-null  int64
 22  Month                            58707 non-null  int64
 23  Day                              58707 non-null  int64
 24  event_type                       58707 non-null  object
 25  event_intensity                  58707 non-null  int64
 26  event_one_hot                    58707 non-null  int64
dtypes: float64(18), int64(6), object(3)
memory usage: 12.1+ MB

In [17]:
df1.drop(['Unnamed: 0'],axis=1,inplace=True)

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   time                             58707 non-null  object
 1   weathercode (wmo code)           58685 non-null  float64
 2   temperature_2m_max (°C)          58685 non-null  float64
 3   temperature_2m_min (°C)          58685 non-null  float64
 4   temperature_2m_mean (°C)         58685 non-null  float64
 5   apparent_temperature_max (°C)    58685 non-null  float64
 6   apparent_temperature_min (°C)    58685 non-null  float64
 7   apparent_temperature_mean (°C)   58685 non-null  float64
 8   precipitation_sum (mm)           58685 non-null  float64
 9   rain_sum (mm)                    58685 non-null  float64
 10  precipitation_hours (h)          58707 non-null  float64
 11  windspeed_10m_max (km/h)         58685 non-null  float64
 12  windgusts_10m_max (km/h)         58685 non-null  float64
 13  winddirection_10m_dominant (°)   58685 non-null  float64
 14  et0_fao_evapotranspiration (mm)  58685 non-null  float64
 15  latitude                         58707 non-null  float64
 16  longitude                        58707 non-null  float64
 17  elevation                        58707 non-null  float64
 18  river_discharge                  58707 non-null  float64
 19  city                             58707 non-null  object
 20  Year                             58707 non-null  int64
 21  Month                            58707 non-null  int64
 22  Day                              58707 non-null  int64
 23  event_type                       58707 non-null  object
 24  event_intensity                  58707 non-null  int64
 25  event_one_hot                    58707 non-null  int64
dtypes: float64(18), int64(5), object(3)
memory usage: 11.6+ MB

In [19]:
df1.rename(columns = {'event_one_hot':'intensity_flood'}, inplace = True)

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   time                             58707 non-null  object
 1   weathercode (wmo code)           58685 non-null  float64
 2   temperature_2m_max (°C)          58685 non-null  float64
 3   temperature_2m_min (°C)          58685 non-null  float64
 4   temperature_2m_mean (°C)         58685 non-null  float64
 5   apparent_temperature_max (°C)    58685 non-null  float64
 6   apparent_temperature_min (°C)    58685 non-null  float64
 7   apparent_temperature_mean (°C)   58685 non-null  float64
 8   precipitation_sum (mm)           58685 non-null  float64
 9   rain_sum (mm)                    58685 non-null  float64
 10  precipitation_hours (h)          58707 non-null  float64
 11  windspeed_10m_max (km/h)         58685 non-null  float64
 12  windgusts_10m_max (km/h)         58685 non-null  float64
 13  winddirection_10m_dominant (°)   58685 non-null  float64
 14  et0_fao_evapotranspiration (mm)  58685 non-null  float64
 15  latitude                         58707 non-null  float64
 16  longitude                        58707 non-null  float64
 17  elevation                        58707 non-null  float64
 18  river_discharge                  58707 non-null  float64
 19  city                             58707 non-null  object
 20  Year                             58707 non-null  int64
 21  Month                            58707 non-null  int64
 22  Day                              58707 non-null  int64
 23  event_type                       58707 non-null  object
 24  event_intensity                  58707 non-null  int64
 25  intensity_flood                  58707 non-null  int64
dtypes: float64(18), int64(5), object(3)
memory usage: 11.6+ MB

In [21]:
df1.head()

,time,weathercode (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),precipitation_sum (mm),rain_sum (mm),...,longitude,elevation,river_discharge,city,Year,Month,Day,event_type,event_intensity,intensity_flood
0,2009-01-01,2.0,33.2,21.9,27.2,34.6,25.7,29.8,0.0,0.0,...,1.100006,326.0,0.0,Atakpame,2009,1,1,flood,0,0
1,2009-01-02,51.0,32.3,23.3,27.1,33.9,28.2,30.5,0.1,0.1,...,1.100006,326.0,0.0,Atakpame,2009,1,2,flood,0,0
2,2009-01-03,51.0,32.5,22.7,27.1,35.0,27.1,30.5,0.2,0.2,...,1.100006,326.0,0.0,Atakpame,2009,1,3,flood,0,0
3,2009-01-04,1.0,33.4,22.2,27.5,35.0,25.9,30.0,0.0,0.0,...,1.100006,326.0,0.0,Atakpame,2009,1,4,flood,0,0
4,2009-01-05,2.0,34.2,22.2,27.8,36.1,26.0,30.4,0.0,0.0,...,1.100006,326.0,0.0,Atakpame,2009,1,5,flood,0,0

In [22]:
df1['date_time'] = pd.to_datetime(df1['time'])

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   time                             58707 non-null  object
 1   weathercode (wmo code)           58685 non-null  float64
 2   temperature_2m_max (°C)          58685 non-null  float64
 3   temperature_2m_min (°C)          58685 non-null  float64
 4   temperature_2m_mean (°C)         58685 non-null  float64
 5   apparent_temperature_max (°C)    58685 non-null  float64
 6   apparent_temperature_min (°C)    58685 non-null  float64
 7   apparent_temperature_mean (°C)   58685 non-null  float64
 8   precipitation_sum (mm)           58685 non-null  float64
 9   rain_sum (mm)                    58685 non-null  float64
 10  precipitation_hours (h)          58707 non-null  float64
 11  windspeed_10m_max (km/h)         58685 non-null  float64
 12  windgusts_10m_max (km/h)         58685 non-null  float64
 13  winddirection_10m_dominant (°)   58685 non-null  float64
 14  et0_fao_evapotranspiration (mm)  58685 non-null  float64
 15  latitude                         58707 non-null  float64
 16  longitude                        58707 non-null  float64
 17  elevation                        58707 non-null  float64
 18  river_discharge                  58707 non-null  float64
 19  city                             58707 non-null  object
 20  Year                             58707 non-null  int64
 21  Month                            58707 non-null  int64
 22  Day                              58707 non-null  int64
 23  event_type                       58707 non-null  object
 24  event_intensity                  58707 non-null  int64
 25  intensity_flood                  58707 non-null  int64
 26  date_time                        58707 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(18), int64(5), object(3)
memory usage: 12.1+ MB

In [24]:
drop_columns=['time','Year','Month','Day','event_type','event_intensity']
df1.drop(drop_columns,axis=1,inplace=True)

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   weathercode (wmo code)           58685 non-null  float64
 1   temperature_2m_max (°C)          58685 non-null  float64
 2   temperature_2m_min (°C)          58685 non-null  float64
 3   temperature_2m_mean (°C)         58685 non-null  float64
 4   apparent_temperature_max (°C)    58685 non-null  float64
 5   apparent_temperature_min (°C)    58685 non-null  float64
 6   apparent_temperature_mean (°C)   58685 non-null  float64
 7   precipitation_sum (mm)           58685 non-null  float64
 8   rain_sum (mm)                    58685 non-null  float64
 9   precipitation_hours (h)          58707 non-null  float64
 10  windspeed_10m_max (km/h)         58685 non-null  float64
 11  windgusts_10m_max (km/h)         58685 non-null  float64
 12  winddirection_10m_dominant (°)   58685 non-null  float64
 13  et0_fao_evapotranspiration (mm)  58685 non-null  float64
 14  latitude                         58707 non-null  float64
 15  longitude                        58707 non-null  float64
 16  elevation                        58707 non-null  float64
 17  river_discharge                  58707 non-null  float64
 18  city                             58707 non-null  object
 19  intensity_flood                  58707 non-null  int64
 20  date_time                        58707 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(18), int64(1), object(1)
memory usage: 9.4+ MB

In [26]:
df1.head()

,weathercode (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),precipitation_sum (mm),rain_sum (mm),precipitation_hours (h),...,windgusts_10m_max (km/h),winddirection_10m_dominant (°),et0_fao_evapotranspiration (mm),latitude,longitude,elevation,river_discharge,city,intensity_flood,date_time
0,2.0,33.2,21.9,27.2,34.6,25.7,29.8,0.0,0.0,0.0,...,29.2,122.0,4.80,7.5,1.100006,326.0,0.0,Atakpame,0,2009-01-01
1,51.0,32.3,23.3,27.1,33.9,28.2,30.5,0.1,0.1,1.0,...,24.5,163.0,3.99,7.5,1.100006,326.0,0.0,Atakpame,0,2009-01-02
2,51.0,32.5,22.7,27.1,35.0,27.1,30.5,0.2,0.2,2.0,...,21.2,173.0,3.77,7.5,1.100006,326.0,0.0,Atakpame,0,2009-01-03
3,1.0,33.4,22.2,27.5,35.0,25.9,30.0,0.0,0.0,0.0,...,24.1,155.0,4.51,7.5,1.100006,326.0,0.0,Atakpame,0,2009-01-04
4,2.0,34.2,22.2,27.8,36.1,26.0,30.4,0.0,0.0,0.0,...,20.2,219.0,4.48,7.5,1.100006,326.0,0.0,Atakpame,0,2009-01-05

In [28]:
df1.to_csv('flood.csv',index=False)